@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic-ext");
html {
  overflow-x: hidden;
}

body {
  background-color: #dbdee2;
  font-family: 'Montserrat', sans-serif;
  color: #3e4659;
}

h1, h2 {
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 3rem;
  margin-top: 10px;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.btn {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 13px;
  font-weight: bold;
  color: #ffffff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s background-color, border, color, -webkit-box-shadow;
  transition: .5s background-color, border, color, -webkit-box-shadow;
  transition: .5s background-color, border, box-shadow,color;
  transition: .5s background-color, border, box-shadow,color, -webkit-box-shadow;
}

.btn-contact {
  border: 2px solid #9fb3e3;
  background-color: transparent;
  color: #3e4659;
}

.btn-contact:hover {
  border: 2px solid #7894d7;
  color: #ffffff;
}

.btn-request, .btn-construct, .btn-price, .btn-aboutus {
  width: 240px;
  background-color: #9fb3e3;
  margin-top: 40px;
}

.btn-request {
  margin-right: 10px;
}

.btn-price {
  width: 50%;
}

.btn-aboutus {
  display: none;
}

.btn:hover {
  background-color: #8ba3dd;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

input[type="submit"], .input-file {
  background-color: #9fb3e3;
  border: none;
  border-radius: 13px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  padding: 15px;
}

input[type="email"], input[type="text"], textarea {
  background-color: transparent;
  border: 2px solid #9fb3e3;
  border-radius: 13px;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
}

input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #3e4659;
}

input[type="email"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #3e4659;
}

input[type="email"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #3e4659;
}

input[type="email"]::placeholder, input[type="text"]::placeholder, textarea::placeholder {
  color: #3e4659;
}

input[type="submit"] {
  width: 100%;
  padding: 18px;
}

.input-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-file input[type="file"] {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
}

.input-file p {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.input-file img {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100);
          filter: invert(100);
}

.sub-text {
  color: #828899;
}

.mt130 {
  margin-top: 130px;
}

.box {
  background-color: #fff;
  border-radius: 13px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10% 3% 10% 10%;
  margin-top: 15px;
}

.box_text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box_num, .box_text {
  display: inline-block;
}

.box_num {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 5%;
}

.box_text {
  font-size: 0.9rem;
  white-space: pre-line;
}

.popup, .popup-project {
  visibility: hidden;
  opacity: 0;
  background-color: #dbdee2;
  border-radius: 13px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 30vw;
  padding: 2%;
  position: fixed;
  left: 50%;
  top: 60%;
  margin-left: -15vw;
  margin-top: -25%;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.popup p, .popup-project p {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.popup__active, .popup-project__active {
  visibility: visible;
  opacity: 1;
}

.popup .close, .popup-project .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.popup-project {
  overflow-y: scroll;
  width: 50vw;
  height: 100%;
  padding-top: 3%;
  top: 30%;
  left: 50%;
  margin-top: -13%;
  margin-left: -25%;
}

.popup-project img {
  width: 100%;
}

.popup-project .project {
  border-radius: 13px;
}

header {
  padding-top: 30px;
}

.logo {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}

.logo a {
  color: #3e4659;
}

.logo span {
  color: #7d8db3;
}

.tel, .email, .linkedin {
  display: block;
  font-size: 1rem;
}

.tel a, .email a, .linkedin a {
  color: #3e4659;
}

.tel img, .email img, .linkedin img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.linkedin img {
  width: 15%;
  height: 15%;
  margin: 0;
}

.main-page {
  margin-top: 100px;
}

.phones-img img {
  width: 100%;
}

.services {
  margin-top: 150px;
}

.services_item {
  font-weight: bold;
}

.services_item__2 {
  text-align: center;
}

.services_item__3 {
  text-align: end;
}

.scrum {
  margin-top: 200px;
}

.scrum_text {
  margin-top: 30px;
}

.clients {
  margin-top: 150px;
  padding: 140px 0;
  background-color: #3e4659;
}

.clients h3 {
  color: #9fb3e3;
}

.clients h3::before {
  content: '';
  width: 30px;
  height: 3px;
  background: #9fb3e3;
  position: absolute;
  left: -30px;
  top: 9px;
}

.clients p {
  color: #ffffff;
}

.clients_header {
  color: #ffffff;
}

.clients_types_item p {
  margin-top: 20px;
}

.clients_types_item__business, .clients_types_item__manager {
  margin-bottom: 100px;
}

.clients_types_item__business::before, .clients_types_item__manager::before, .clients_types_item__director::before, .clients_types_item__startup::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50px;
  top: 20px;
}

.clients_types_item__business::before {
  width: 68px;
  left: -30px;
  background-image: url("../img/business.svg");
}

.clients_types_item__manager::before {
  left: -25px;
  background-image: url("../img/manager.svg");
}

.clients_types_item__director::before {
  width: 92px;
  height: 92px;
  left: -30px;
  background-image: url("../img/director.svg");
}

.clients_types_item__startup::before {
  left: -30px;
  background-image: url("../img/startup.svg");
}

.team-work {
  margin-top: 150px;
}

.team-work_text {
  margin-top: 20px;
}

.projects {
  margin-top: 150px;
  padding: 140px 0;
  background-color: #3e4659;
}

.projects p {
  color: #ffffff;
}

.projects_header {
  color: #ffffff;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 40px;
  padding-bottom: 80px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider .slide {
  border-radius: 13px;
  cursor: pointer;
}

.slider .slide img {
  border-radius: 13px;
  width: 100%;
}

.slider::-webkit-scrollbar {
  height: 10px;
}

.slider::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 26px;
}

.slider::-webkit-scrollbar-thumb {
  background-color: #9fb3e3;
  border-radius: 26px;
}

.our-team {
  margin-top: 150px;
}

.our-team_text {
  margin-top: 20px;
}

.our-team_member_card {
  background-color: #fff;
  border-radius: 13px;
  margin-top: 130px;
  padding-top: 120px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.our-team_member_card::before {
  content: '';
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  margin-top: -130px;
  left: 50%;
  margin-left: -100px;
}

.our-team_member_card__1::before {
  background-image: url("../img/team/1.jpg");
  background-size: cover;
  background-position: center center;
}

.our-team_member_card__2::before {
  background-image: url("../img/team/2.jpg");
  background-size: 100% auto;
  background-position: center center;
}

.our-team_member_card__3::before {
  background-image: url("../img/team/3.jpg");
  background-size: 200% auto;
  background-position: center 50%;
}

.our-team_member_card__4::before {
  background-image: url("../img/team/4.jpg");
  background-size: 110% auto;
  background-position: center 0;
}

.our-team_member_card__5::before {
  background-image: url("../img/team/5.jpg");
  background-size: 300% auto;
  background-position: 47% 40%;
}

.our-team_member_card__6::before {
  background-image: url("../img/team/6.jpg");
  background-size: 100% auto;
  background-position: center 0;
}

.our-team_member_name, .our-team_member_position {
  text-align: center;
}

.our-team_member_name {
  font-weight: bold;
  color: #3e4659;
}

.our-team_member_position {
  color: #d0d6e4;
}

.footer {
  margin-top: 150px;
  padding: 150px 0 150px 0;
  background-color: rgba(62, 70, 89, 0.1);
}

.footer_text {
  margin-top: 20px;
}

.footer .contacts {
  font-size: 0.9rem;
}

.footer .contacts .tel, .footer .contacts .email, .footer .contacts .linkedin {
  margin-top: 20px;
}

.footer .contacts_text {
  margin-top: 10%;
}

.footer .contacts_items {
  margin-top: 50px;
}

.estimate h1 {
  text-align: center;
}

.estimate_head {
  margin-top: 150px;
}

.estimate_head_text {
  text-align: center;
  white-space: pre-line;
  margin-top: 30px;
}

.estimate_head_text:last-of-type {
  margin-top: 20px;
}

.estimate-form h2 {
  text-align: center;
  margin-bottom: 40px;
}

.estimate-form_size, .estimate-form_ui, .estimate-form_api, .estimate-form_security, .estimate-form_phone {
  margin: 150px 0 150px 0;
}

.estimate-form_size_btn, .estimate-form_ui_btn, .estimate-form_api_btn, .estimate-form_security_btn, .estimate-form_phone_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 13px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: color .5s, backgorund-color .5s;
  transition: color .5s, backgorund-color .5s;
}

.estimate-form_size_btn input, .estimate-form_ui_btn input, .estimate-form_api_btn input, .estimate-form_security_btn input, .estimate-form_phone_btn input {
  opacity: 0;
}

.estimate-form_size_btn img, .estimate-form_ui_btn img, .estimate-form_api_btn img, .estimate-form_security_btn img, .estimate-form_phone_btn img {
  width: 40px;
  height: 40px;
}

.estimate-form_size_btn .img-invert, .estimate-form_ui_btn .img-invert, .estimate-form_api_btn .img-invert, .estimate-form_security_btn .img-invert, .estimate-form_phone_btn .img-invert {
  -webkit-filter: invert(100);
          filter: invert(100);
}

.estimate-form_size_btn .text-wrap, .estimate-form_ui_btn .text-wrap, .estimate-form_api_btn .text-wrap, .estimate-form_security_btn .text-wrap, .estimate-form_phone_btn .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10% 0 10% 0;
}

.estimate-form_ui, .estimate-form_security {
  padding: 150px 0 150px 0;
  background-color: #3e4659;
  color: #fff;
}

.estimate-form_contact {
  margin: 150px 0 150px 0;
}

.estimate-form_contact_header {
  text-align: center;
}

.estimate-form_contact_fields {
  margin-bottom: 20px;
}

.estimate-form_contact .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.estimate-form_num {
  position: absolute;
  font-size: 2.25em;
  font-weight: bold;
  margin-left: 5%;
}

.estimate-form_text {
  margin: 0 auto;
  font-weight: bold;
  max-height: 40px;
  text-align: center;
}

.hover-dark {
  -webkit-transition: color .5s, backgorund-color .5s;
  transition: color .5s, backgorund-color .5s;
}

.hover-dark:hover {
  background-color: #3e4659;
  color: #fff;
}

.hover-dark:hover img {
  -webkit-filter: invert(100);
          filter: invert(100);
}

.hover-blue {
  -webkit-transition: color .5s, backgorund-color .5s, border .5s;
  transition: color .5s, backgorund-color .5s, border .5s;
}

.hover-blue:hover {
  background-color: #9fb3e3;
  border: 2px solid #9fb3e3;
}

.checked {
  background-color: #ffffff;
}

.checked-dark {
  background-color: #ffffff;
  color: #3e4659;
}

.team-head {
  margin-top: 80px;
}

.team-head h1 {
  margin-bottom: 20px;
}

.team-head img {
  width: 100%;
}

.team {
  margin-top: 100px;
}

.team_member .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_member_card {
  background-color: #fff;
  border-radius: 13px;
  padding-top: 120px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.team_member_card::before {
  content: '';
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -50%;
  left: 50%;
  margin-left: -100px;
}

.team_member_card__1::before {
  background-image: url("../img/team/1.jpg");
  background-size: cover;
  background-position: center center;
}

.team_member_card__2::before {
  background-image: url("../img/team/2.jpg");
  background-size: 100% auto;
  background-position: center center;
}

.team_member_card__3::before {
  background-image: url("../img/team/3.jpg");
  background-size: 200% auto;
  background-position: center 50%;
}

.team_member_card__4::before {
  background-image: url("../img/team/4.jpg");
  background-size: 110% auto;
  background-position: center 0;
}

.team_member_card__5::before {
  background-image: url("../img/team/5.jpg");
  background-size: 300% auto;
  background-position: 47% 40%;
}

.team_member_card__6::before {
  background-image: url("../img/team/6.jpg");
  background-size: 100% auto;
  background-position: center 0;
}

.team_member_card__7::before {
  background-image: url("../img/team/7.jpg");
  background-size: 100% auto;
  background-position: center 0;
}

.team_member_card__8::before {
  background-image: url("../img/team/8.jpg");
  background-size: 200% auto;
  background-position: 60% 0;
}

.team_member_name, .team_member_position {
  text-align: center;
}

.team_member_name {
  font-weight: bold;
}

.team_member_position {
  color: #d0d6e4;
}

.team-form {
  margin: 150px 0 150px 0;
}

.team-form input[type="submit"] {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 2.25rem;
    text-align: left;
  }
  header {
    margin-top: 15px;
  }
  header .logo, header .tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .tel, header .btn {
    margin-top: 15px;
  }
  .btn {
    width: 100%;
  }
  .popup, .popup-project {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding-top: 25%;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .popup-project {
    padding-top: 12%;
  }
  .services {
    margin-top: 50px;
  }
  .services_item {
    text-align: left;
  }
  .scrum_box_text, .team-work_box_text {
    margin-top: 10px;
  }
  .scrum_box__cubes::before, .team-work_box__cubes::before {
    content: none;
  }
  .scrum_box__cubes-min::before, .team-work_box__cubes-min::before {
    content: none;
  }
  .scrum, .clients, .team-work, .projects, .our-team, .footer {
    margin-top: 50px;
  }
  .scrum_text, .clients_text, .team-work_text, .projects_text, .our-team_text, .footer_text {
    white-space: normal;
  }
  .clients {
    padding: 50px 0;
  }
  .clients h3::before {
    top: 70px;
    left: -20px;
  }
  .clients_types_item {
    margin: 60px 0 0 0;
  }
  .estimate h1 {
    text-align: left;
  }
  .estimate_head {
    margin-top: 50px;
  }
  .estimate_head_text {
    text-align: left;
    white-space: normal;
  }
  .estimate-form h2 {
    text-align: left;
  }
  .estimate-form_size, .estimate-form_ui, .estimate-form_api, .estimate-form_security, .estimate-form_contact, .estimate-form_phone {
    margin: 50px 0 50px 0;
  }
  .estimate-form_size_btn, .estimate-form_ui_btn, .estimate-form_api_btn, .estimate-form_security_btn, .estimate-form_contact_btn, .estimate-form_phone_btn {
    margin-top: 20px;
  }
  .estimate-form_ui, .estimate-form_security {
    padding: 50px 0 50px 0;
  }
  .estimate-form_text {
    font-size: 0.9rem;
  }
  .team-head h1, .team-head p {
    text-align: center;
  }
  .team_member {
    margin-top: 150px;
  }
  .team_member_text {
    margin-top: 30px;
  }
  .team-form {
    margin: 50px 0 50px 0;
  }
  .team-form h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .btn {
    width: 100%;
  }
  .btn-request, .btn-construct {
    width: 50%;
  }
  .team_member_card {
    margin-top: 100px;
  }
  .team_member_card::before {
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
  }
  .popup {
    width: 50vw;
    height: 50vh;
    padding-top: 2%;
    border-radius: 13px;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -25%;
  }
  .popup-project {
    width: 90vw;
    height: 90vh;
    padding-top: 6%;
    border-radius: 13px;
    left: 5%;
    top: 5%;
  }
}
/*# sourceMappingURL=style.css.map */